.cover-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 585px;
}
.reverse-box {
  flex-direction: row-reverse;
}
.cover-box-title {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-box-title h2 {
  width: 40%;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5em;
}
.cover-box-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}
.box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 5px;
  height: 75%;
  width: 40%;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
.box-right {
  right: 15%;
}
.box-left {
  left: 15%;
}
.box-title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  color: #333;
}
.box-detail {
  font-size: 20px;
  line-height: 1.5em;
  color: #555;
  font-weight: 300;
}
.detail {
  position: absolute;
  bottom: 30px;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover-box-wrapper, .reverse-box {
    flex-direction: column;
  }
  .cover-box-title {
    width: 100%;
    height: 200px;
  }
  .cover-box-title h2{
    font-size: 24px;
    width: 90%;
    text-align: center;
  }
  .cover-box-img {
    width: 100%;
    height: 150px;
  }
  .box {
    position: static;
    width: 100%;
    height: auto;
    bottom: 0;
    transform: inherit;
  }
  .box-right {
    right: auto;
  }
  .box-left {
    left: auto;
  }
  .box-title {
    font-size: 24px;
  }
  .box-detail {
    font-size: 16px;
    height: 110px;
    overflow: hidden;
  }
  .detail {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}